In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [3]:
df=pd.read_csv("mystats.csv")

df

,First name,Last Name,School,Grade,Teachers,Friends,Hobbies,Favourite books,Favourite Subjects,Average grades,Address
0,Pietro,Abruzzo,CJD Gymnasium Versmold,6,Herr Bonus Frau Recker Frau Beckmann Frau Wala...,Benjamin Anton Wilhelm Wehmeier,Coding and doing math,Data science books,math physics chemistry computer science,1.4,Feldstrasse 8 Bad Rothenfelde Lower Saxony Ger...

In [4]:
df["Address"]

0    Feldstrasse 8 Bad Rothenfelde Lower Saxony Ger...
Name: Address, dtype: object

In [8]:
df["Average grades"]

0    1.4
Name: Average grades, dtype: float64