# Daten Analyse für verschiedliche Produkte der Mahlzeiten in einem Tag

## In diesem Notebook werden wir Daten analysieren von Produkten der Mahlzeiten in einem Tag.

### Hier, in diesen Teil werden wir statististiche Operationen machen um später es veranschaulich zu erklären. Wenn es ihnen nicht interessiert wie ich alles gemacht habe, könnt iht direkt zum Teil wo ich die Resultate vorstelle, sofort überspringen.

Das sind alle Python-Bibliotheken die wir gebrauchen werden:

In [24]:
import matplotlib.pyplot as plt
import numpy as np
import math as mt
from scipy.stats import norm
import seaborn as sn
import pandas as pd

Als erstes werden wir alle Daten definieren.

Erstens werden wir den Mittelwert berechnen für alle Produkte berechnen. Un hier habe ich ein paar tage dran gemacht so dass es statistisch relevant ist.

In [25]:
#Alle Daten für Fleisch
Fleisch_data = [31,34,25,31,36,32,32,30,
                30,22,20,30,28,33,33,30,
                27,28,30,25,39,28,31,29,
                30,40,36,34,26,30,27,29,
                21,31,29,35,25,28,23,33,
                26,28,26,38,35,35,25,33,
                28,30]


Fleisch_mean=np.mean(Fleisch_data)

#Alle Daten für Milch
Milch_data = [15,7,14,14,5,2,11,9,7,7,
              9,4,11,11,10,9,17,8,10,5,
              3,11,9,6,9,5,4,4,8,10,13,
              9,11,18,0,13,15,11,12,14,
              10,9,13,15,20,15,17,9,9,7]

Milch_mean=np.mean(Milch_data)

#Alle Daten für Getreide
Getreide_data = [27,29,31,31,27,22,29,26,
                 33,31,36,32,26,26,25,27,
                 27,24,32,35,30,34,31,32,
                 25,32,29,28,36,34,32,28,
                 38,25,29,23,30,33,31,15,
                 27,25,22,29,30,27,32,31,
                 32,30]


Getreide_mean=np.mean(Getreide_data)

#Alle Daten für Eier
Eier_data = [7,12,9,13,13,18,0,4,11,13,13,16,
             11,9,13,11,8,12,10,12,10,11,8,9,
             8,9,9,9,13,10,5,16,8,4,10,5,15,9,
             11,12,8,18,16,3,5,4,6,11,8,10]


Eier_mean=np.mean(Eier_data)

#Alle Daten für Speisefette und Öle
SO_data = [20,18,21,11,19,26,28,31,19,27,
           22,18,24,21,19,23,21,28,18,23,
           18,16,21,24,28,14,22,25,17,16,
           23,18,22,22,32,24,15,19,23,26,
           29,20,23,15,10,19,20,16,23,23]

SO_mean=np.mean(SO_data)

all_means=[Fleisch_mean, Milch_mean, Getreide_mean, Eier_mean, SO_mean]

In [26]:
sum_of_all_means=sum(all_means)

In [27]:
Fleisch_mean = round(np.mean(Fleisch_data), 1)
Milch_mean = round(np.mean(Milch_data), 1)
Getreide_mean = round(np.mean(Getreide_data), 1)
Eier_mean = round(np.mean(Eier_data), 1)
SO_mean = round(np.mean(SO_data), 1)

all_means = [Fleisch_mean, Milch_mean, Getreide_mean, Eier_mean, SO_mean]
sum_of_all_means = sum(all_means)

print(sum_of_all_means)

100.00000000000001

Hier haben wir alle Mittelwerte Summiert, und ich werde später erklären was das bedeutet.

Jetzt werde ich noch mehrere statistische Operationen machen und dann werden wir zum nächsten Teil des Notebooks gehen, wo ich alle Daten erkläre.

In [23]:
def variance(values):
    mean=np.mean(values)
    _variance=sum((v-mean)**2 for v in values)/len(values)
    return _variance

In [28]:
def std_dev(values):
    return (mt.sqrt(variance(values)))

In [29]:
Fleisch_Variance=variance(Fleisch_data)
Milch_Variance=variance(Milch_data)
Getreide_Variance=variance(Getreide_data)
Eier_Variance=variance(Eier_data)
SO_Variance=variance(SO_data)

In [31]:
Fleisch_std_dev=std_dev(Fleisch_data)
Milch_std_dev=std_dev(Milch_data)
Getreide_std_dev=std_dev(Getreide_data)
Eier_std_dev=std_dev(Eier_data)
SO_std_dev=std_dev(SO_data)

In [36]:
print(min(Fleisch_data))
print(min(Milch_data))
print(min(Getreide_data))
print(min(Eier_data))
print(min(SO_data))

20
0
15
0
10

In [38]:
df2=pd.read_csv("food_analysis.csv")
df2

,PT,Varianz,Standard Abweichung,Mittewert,max,min
Fleisch,19.1700,4.378356,29.9,40,20,NaN
Milch,18.2256,4.269145,9.9,20,0,NaN
Getreide,17.1856,4.145552,29.1,38,15,NaN
Eier,14.4900,3.806573,9.9,18,0,NaN
Speisefette und Öle,21.8400,4.673329,21.2,32,10,NaN